# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.db

# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Generated
*.g.dart
